.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
  padding: 5px;
}

.home-options {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.home-options h4 {
  font-weight: bold;
  font-size: 1.7em;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.planets-wrap {
  display: flex;
}
.planet-wrap {
  padding: 5px;
}

.planet-dropdown {
  appearance: none;
  border-style: none;
  margin: 10px 20px;
  padding: 10px;
  background-color: azure;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
}

.planet-vehicles {
  display: flex;
  flex-direction: column;
}

.planet-vehicles span {
  padding: 5px;
  margin: 10px;
  color: black;
  font-weight: bold;
}

.home-time {
  font-size: 2em;
}

.vlist {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.vlist-title {
  font-weight: bold;
  font-size: 1.3em;
  color: lightslategray;
}

.vlist-content {
  font-weight: bold;
  font-size: 1.1em;
  color: #202020;
  padding: 10px;
}

.pos-abs {
  position: absolute;
  top: 25px;
  right: 130px;
}
