.footer {
  background-color: lightslategray;
  border-radius: 5px;
  text-align: center;
}

.footer h4 {
  font-size: 1.6em;
  margin: 10px 25px;
}

.footer h4 a {
  text-decoration: none;
  color: antiquewhite;
  margin: 10px 25px;
  font-size: 0.9em;
}
@media only screen and (max-width: 450px) {
  .footer {
    font-size: 0.5em;
  }
  .footer h4 {
    margin: 10px 5px;
  }
  .footer h4 a {
    margin: 10px 5px;
  }
}
