.footer {
  background-color: lightslategray;
  border-radius: 5px;
}

.footer h4 {
  font-size: 1.6em;
  margin: 10px 25px;
}

.footer h4 a {
  text-decoration: none;
  color: antiquewhite;
  margin: 10px 25px;
  font-size: 0.9em;
}
