.App {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  color: #202020;
  border-radius: 10px;
}
@media only screen and (max-width: 800px) {
}
